# Aliases for quick editing of config files.
alias zr="vim ~/.zshrc"
alias zrl="vim ~/.zsh/.zshrc.local"
alias za="vim ~/.zsh/.aliases"
alias ze="vim ~/.zsh/.zshenv"
alias szr="source ~/.zshrc"
alias stc="speedtest-cli"
alias sc="vim ~/.ssh/config"
alias tc="vim ~/.tmux.conf"

alias .vim="cd ~/.vim"
alias .bash="cd ~/.bash"
alias .zsh="cd ~/.zsh"
alias .tmux="cd ~/.tmux"
alias .bin="cd ~/bin"

alias copy="xsel -ib"

# git aliases
alias b="git branch"
alias ct="docker run -v ~/.cache/cointop:/root/.config/cointop -it cointop/cointop"
alias rb="git for-each-ref --count=16 --sort=-committerdate refs/heads/ --format='%(refname:short)'"
alias c="git commit"
alias ca="git commit -a -m"
alias cl="git clone"
alias co="git checkout"
alias d="git --no-pager diff"
alias fmc="git commit -a -m 'Fix merge conflict.'"
alias gc="git clone"
# Recently checked-out branches
alias gr="git reflog --grep-reflog=checkout -n 10"
alias l="git --no-pager log -n 32 --pretty=oneline --abbrev-commit"
alias m="git merge"
alias mn="git merge --no-ff"
alias p="git pull"
alias pp="git push"
alias ppo="git push --set-upstream origin"
alias s="git status"
alias ss="git status -sb"
alias gk="gitk&"

# tmux styles

# red window title
alias tred="tmux set-window-option window-status-style fg=red,bg=white && tmux set-window-option window-status-current-style fg=red,bg=#ffffbd"
# black window title
alias tb="tmux set-window-option window-status-style fg=black,bg=white && tmux set-window-option window-status-current-style fg=black,bg=#ffffbd"
# green window title
alias tg="tmux set-window-option window-status-style fg=green,bg=white && tmux set-window-option window-status-current-style fg=green,bg=#ffffbd"
# light red background
alias br="tmux select-pane -P 'bg=#ffcccc'"
alias bw="tmux select-pane -P 'bg=#ffffff'"

alias rs="rsnapshot -c ~/.rsnapshot/default.conf daily"

alias pg="export PYTHONIOENCODING=utf-8; pirate-get"
alias mouse="sudo rmmod psmouse && sudo modprobe psmouse"

#alias gpga="eval $(gpg-agent --daemon)"

alias ll="ls -l"
alias k="kubectl"
alias kc="kubectx"
alias kcp="kubectx capitalise-prod"
alias kcd="kubectx capitalise-development"
alias pc="pngcrush -ow"
alias x="clear"
alias lc='fc -ln -1 | awk '\''{$1=$1}1'\'' ORS='\'''\'' | pbcopy'

alias u="cd .."
alias uu="cd ../.."
alias uuu="cd ../../.."
alias uuuu="cd ../../../.."

alias P="pass show"
alias Pe="pass edit"

# Shortcuts to various project directories
alias .a="cd ~/Projects/capitalise/platfi-api-platform"
alias .aa="cd ~/Projects/angryarchi/site"
alias .af="cd ~/Projects/movementduo/anawfos"
alias .bs="cd ~/Projects/backup-spotify-playlists/site"
alias .bf="cd ~/Projects/benefit/benefit-friends"
alias .c="cd ~/Projects/capitalise/platfi"
alias .cd="cd ~/Projects/caterhamdatabase/caterhamdatabase"
alias .cdt="cd ~/Projects/caterhamdatabase/caterhamdatabase-tools"
alias .cw="cd ~/Projects/cryptowrangle/cryptowrangle"
alias .cwt="cd ~/Projects/cryptowrangle/cryptowrangle-tools"
alias .cr="cd ~/Projects/carlsonrezidor/site"
alias .cs="cd ~/Projects/cookseystudio/site"
alias .ct="cd ~/Projects/cakephp_test/site"
alias .cti="cd ~/Projects/const/site"
alias .d="cd ~/Projects/data/app"
alias .e="cd ~/Projects/eyeline/site"
alias .ecs="cd ~/Projects/ecs/magento-pos"
alias .fr="cd ~/Projects/forevr/forevr_backend"
alias .gt="cd ~/Projects/gametrails/gametrails"
alias .h="cd ~/Projects/house/site"
alias .hh="cd ~/Projects/haygarth/site"
alias .hp="cd ~/Projects/headphones/site"
alias .i="cd ~/Projects/inspectee/inspectee"
alias .it="cd ~/Projects/inspectee/inspectee-tools"
alias .j="cd ~/Projects/journal/journal"
alias .kb="cd ~/Projects/keywordbookmarks/site"
alias .lo="cd ~/Projects/movementduo/loose"
alias .m="cd ~/Projects/movementduo/mixers"
alias .ma="cd ~/Projects/movementduo/alexa-mixers-recipes"
alias .mr="cd ~/Projects/movementduo/mixers-recipes"
alias .mt="cd ~/Projects/movementduo/traefik"
alias .mo="cd ~/Projects/movementduo/movement"
alias .mb="cd ~/Projects/mbaco/site"
alias .mbo="cd ~/Projects/mbaco/site_old"
alias .o="cd ~/Projects/movementduo/luno-one"
alias .ot="cd ~/Projects/octotrackertoday/octotrackertoday"
alias .nk="cd ~/Projects/notekick/site"
alias .nka="cd ~/Projects/notekick-admin"
#alias .p="cd ~/Projects/capitalise/platfi"
alias .p="cd ~/Projects/predictions/predictions"
alias .ph="cd ~/Projects/paulherron/paulherron"
alias .pha="cd ~/Projects/paulherron-admin"
alias .pla="cd ~/Projects/capitalise/platfi-api-platform"
alias .pm="cd ~/Projects/proceptmedical/site"
alias .pmh="cd ~/Projects/powermate-hooks/app"
alias .pro="cd ~/Projects/capitalise/platfi-api-products"
alias .ps="cd ~/Projects/paulandseema/site"
alias .q="cd ~/Projects/capitalise/platfi-ui-questionnaire"
alias .rn="cd ~/Projects/racketsportsnetwork/site"
alias .s="cd ~/Projects/wirelesslogic/simpro"
alias .sc="cd ~/Projects/soleilcapestang/site"
alias .ss="cd ~/Projects/screenshots/screenshots"
alias .show="cd ~/Projects/showstudio/site"
alias .sh="cd ~/Projects/seemaswaran/seemaswaran"
alias .ssa="cd ~/Projects/showstudio-admin"
alias .sswl="cd ~/Projects/supersimpleweightlog/site"
alias .t="cd ~/Projects/traefik"
alias .tim="cd ~/Projects/capitalise/platfi-service-activity-timeline"
alias .ts="cd ~/Projects/capitalise/platfi-service-token-store"
alias .tv="cd ~/Projects/theventure/site"
alias .ui="cd ~/Projects/capitalise/platfi-ui-app"
alias .yo="cd ~/Projects/yoo/site"

alias .com="cd ~/Downloads/complete"

alias gfm="marked --gfm"
alias page="lynx -dump -nolist -notitle -width 2000"

# Docker aliases
alias dc="docker-compose"

# Vagrant aliases
alias vd="vagrant destroy"
alias vh="vagrant halt"
alias vr="vagrant reload"
alias vs="vagrant suspend"
alias vsa="vboxmanage list runningvms | sed -E 's/.*\{(.*)\}/\1/' | xargs -L1 -I {} VBoxManage controlvm {} savestate"
alias vu="vagrant up"
alias vp="vagrant provision"
alias vpc="vagrant provision --provision-with configure"

alias J="jekyll serve -w"

alias webcam="rsync -av pi@192.168.1.107:/home/pi/www/2014* ~/Desktop/webcam"
alias dl="youtube-dl"

alias aw="ansiweather"

alias server="python -m http.server 8000"

# Suspend
alias sus="dbus-send --type=method_call --dest=org.gnome.ScreenSaver /org/gnome/ScreenSaver org.gnome.ScreenSaver.Lock && systemctl suspend"
