# Aliases for quick editing of config files.
alias zr="vim ~/.zshrc"
alias zrl="vim ~/.zsh/.zshrc.local"
alias szr="source ~/.zshrc"
alias stc="speedtest-cli"
alias sc="vim ~/.ssh/config"
alias tc="vim ~/.tmux.conf"

alias .vim="cd ~/.vim"
alias .bash="cd ~/.bash"
alias .zsh="cd ~/.zsh"
alias .tmux="cd ~/.tmux"
alias .bin="cd ~/bin"

alias copy="xsel -ib"

# git aliases
alias b="git branch"
alias rb="git for-each-ref --count=16 --sort=-committerdate refs/heads/ --format='%(refname:short)'"
alias c="git commit"
alias ca="git commit -a -m"
alias cl="git clone"
alias co="git checkout"
alias d="git --no-pager diff"
alias fmc="git commit -a -m 'Fix merge conflict.'"
alias gc="git clone"
# Recently checked-out branches
alias gr="git reflog --grep-reflog=checkout -n 10"
alias l="git --no-pager log -n 32 --pretty=oneline --abbrev-commit"
alias m="git merge"
alias mn="git merge --no-ff"
alias p="git pull"
alias pp="git push"
alias ppo="git push --set-upstream origin"
alias s="git status"
alias ss="git status -sb"
alias gk="gitk&"

#alias gpga="eval $(gpg-agent --daemon)"

alias ll="ls -l"
alias k="kubectl"
alias kc="kubectx"
alias kcp="kubectx capitalise-prod"
alias kcd="kubectx capitalise-development"
alias pc="pngcrush -ow"
alias x="clear"
alias lc='fc -ln -1 | awk '\''{$1=$1}1'\'' ORS='\'''\'' | pbcopy'

alias u="cd .."
alias uu="cd ../.."
alias uuu="cd ../../.."
alias uuuu="cd ../../../.."

alias P="pass show"
alias Pe="pass edit"

# Shortcuts to various project directories
alias .a="cd ~/Projects/capitalise/platfi-api-platform"
alias .aa="cd ~/Projects/angryarchi/site"
alias .cti="cd ~/Projects/const/site"
alias .cd="cd ~/Projects/cadogan/site"
alias .bs="cd ~/Projects/backup-spotify-playlists/site"
alias .c="cd ~/Projects/capitalise/platfi"
alias .d="cd ~/Projects/drilldown/app"
alias .ui="cd ~/Projects/capitalise/platfi-ui-app"
alias .q="cd ~/Projects/capitalise/platfi-ui-questionnaire"
alias .pla="cd ~/Projects/capitalise/platfi-api-platform"
alias .pro="cd ~/Projects/capitalise/platfi-api-products"
alias .tim="cd ~/Projects/capitalise/platfi-service-activity-timeline"
alias .cs="cd ~/Projects/cookseystudio/site"
alias .d="cd ~/Projects/drilldown/app"
alias .e="cd ~/Projects/capitalise/platfi-service-event-broker"
alias .ecs="cd ~/Projects/ecs/magento-pos"
alias .fr="cd ~/Projects/forevr/forevr_backend"
alias .kb="cd ~/Projects/keywordbookmarks/site"
alias .hp="cd ~/Projects/headphones/site"
alias .hh="cd ~/Projects/haygarth/site"
alias .h="cd ~/Projects/house/site"
alias .nk="cd ~/Projects/notekick/site"
alias .nka="cd ~/Projects/notekick-admin"
alias .ph="cd ~/Projects/paulherron/site"
alias .mb="cd ~/Projects/mbaco/site"
alias .mbo="cd ~/Projects/mbaco/site_old"
alias .m="cd ~/Projects/capitalise/platfi-service-offer-manager"
alias .p="cd ~/Projects/capitalise/platfi-service-offer-manager"
alias .p="cd ~/Projects/capitalise/platfi"
alias .pha="cd ~/Projects/paulherron-admin"
alias .pm="cd ~/Projects/proceptmedical/site"
alias .ps="cd ~/Projects/paulandseema/site"
alias .rn="cd ~/Projects/racketsportsnetwork/site"
alias .ss="cd ~/Projects/showstudio/site"
alias .s="cd ~/Projects/wirelesslogic/simpro"
alias .ct="cd ~/Projects/cakephp_test/site"
alias .ssa="cd ~/Projects/showstudio-admin"
alias .sswl="cd ~/Projects/supersimpleweightlog/site"
alias .sc="cd ~/Projects/soleilcapestang/site"
alias .tv="cd ~/Projects/theventure/site"
alias .t="cd ~/Projects/capitalise/platfi-service-activity-timeline"
alias .cr="cd ~/Projects/carlsonrezidor/site"
alias .yo="cd ~/Projects/yoo/site"

alias gfm="marked --gfm"
alias page="lynx -dump -nolist -notitle -width 2000"

# Docker aliases
alias dc="docker-compose"

# Vagrant aliases
alias vd="vagrant destroy"
alias vh="vagrant halt"
alias vr="vagrant reload"
alias vs="vagrant suspend"
alias vsa="vboxmanage list runningvms | sed -E 's/.*\{(.*)\}/\1/' | xargs -L1 -I {} VBoxManage controlvm {} savestate"
alias vu="vagrant up"
alias vp="vagrant provision"
alias vpc="vagrant provision --provision-with configure"

alias J="jekyll serve -w"

alias webcam="rsync -av pi@192.168.1.107:/home/pi/www/2014* ~/Desktop/webcam"
alias dl="youtube-dl"

alias aw="ansiweather"
